<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="${product.productName}"></title>
</head>

<body>

    <header>
        <h3 th:text="${product.productName}"></h3>
    </header>

    <main>
    
        <ul>

             <li th:each="blend: ${product.blends}">
                <a th:href="@{/blend(id=${blend.id})}" th:text="${blend.blendName}"></a>
            </li>
        </ul>

    </main>


	   <form method="post">

   		<div>
   		<label> Enter Product Name: </label>
   		<input type="text" name ="productName" />
   		</div>
   		   	
   		<div>
   		<button th:formaction="@{add-product}"> Add Product</button>
   		</div>
   </form>



    <form method="post">

        <section id="delete-product">
            <div>
                <label> Enter Product Name To Delete: </label>
                <input type="text" name="productNameToDelete" />
            </div>

            <div>
                <button th:formaction="@{delete-product}"> Delete Product</button>
            </div>
        </section>
    </form>


    <form method="post">

        <section id="delete-blend">
            <div>
                <label> Enter Blend Name To Delete: </label>
                <input type="text" name="blendNameToDelete" />
            </div>

            <div>
                <button th:formaction="@{delete-blend}"> Delete Blend</button>
            </div>
        </section>
    </form>






    <h4><a href="/allProducts"> Back to Products</a></h4>
</body>
<footer>
    <small>Fresh Faces Beauty LLC</small>
</footer>



</html>